# This workflow will build an image for the instascale-controller, then push the image to the `project-codeflare` quay repo

name: Image

on:
  push:
    branches: [ "main" ]
    paths:
      - "VERSION"
  pull_request:
    branches: [ "main" ]
    paths:
      - "VERSION"

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Grab New Version Tag
      run: |
        echo "tag=$(cat VERSION)" >> $GITHUB_ENV

    - name: Image Build
      run: |
        make docker-build
      env: 
        IMG: quay.io/project-codeflare/instascale-controller:v${{ env.tag }}

    - name: Login to Quay.io
      uses: docker/login-action@v2
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_ID }}
        password: ${{ secrets.QUAY_TOKEN }}

    - name: Image Push
      run: |
        make docker-push
      env:
        IMG: quay.io/project-codeflare/instascale-controller:v${{ env.tag }}
